<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Jobs - Recruitment - Job Search - Employment - Job Vacancies - ...</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <meta charset="ISO-8859-1">

</head>
<body class="background">
<nav class="main_div">
    <div class="logo_left">
        <a style="color:#FFFFFF" href="#">
            <label class="logo">
                ujjawaloppotunities
            </label>
            <label class="logo_com">
                .com
            </label>
        </a>
    </div>
    <div class="logo_right">
        <label class="Candidate_login_btn">
            <a th:href="@{/login}">
                Job Candidate Login
            </a>
            <a th:href="@{/register}">
                /Register
            </a>
        </label>
        <label class="Recruiter_login_btn">
            <a th:href="@{/login}">
                Recruiter Login
            </a>
            <a th:href="@{/register}">
                /Register
            </a>
        </label>
    </div>
</nav>
<nav>
    <div class="logo_left">
        <a style="color:#fb4f14">
                <p class="tagline">"Where Talent Meets Opportunities"</p>
        </a>
    </div>
</nav>
<form th:action="@{/global-search/}">
    <div class="searchBox">
        <div class="inner">

            <input type="text" placeholder="Search for a job" name="job" th:value="${job}"/>
            <input type="text" placeholder="Enter a location" name="location" th:value="${location}"/>
            <button type="submit">
                <a href="#">
                    <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="Search" style="width: 24px; height: 24px;">
                </a>
            </button>

        </div>
    </div>
</form>
<footer>
    <label class="copy-right">copyright © 2024 ujjawaloppotunities.com | All rights reserved. | <b> <a style="color:#fb4f14" href="#"> Privacy Policy </a> </b> | <b>  <a style="color:#fb4f14" href="#"> Terms of Service </a> </b>
        &nbsp;
        <a href="https://www.linkedin.com/in/ujjawal-raj-b900b6113/" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width:22px; height:22px;">
        </a>
        <a href="https://www.youtube.com/@ujjawalraj510" target="_blank">
            <img src="https://www.youtube.com/favicon.ico" alt="YouTube" style="width:25px; height:25px;">
        </a>
        <a href="https://www.instagram.com/ujjawalraj654" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" style="width:22px; height:22px;">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100006876457696&mibextid=kFxxJD" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" style="width:25px; height:25px;">
        </a>
        <a href="https://www.x.com" target="_blank">
            <img src="https://abs.twimg.com/favicons/twitter.ico" alt="Tweet">
        </a>
    </label>
</footer>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>
